/* === FONTS === */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald&family=Roboto&display=swap');


/* === UNIVERSAL RESET === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100vh;
}

h1, h2 {
  font-family: 'Anton', sans-serif;;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h3, h4 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

body, p, li, a {
  font-family: 'Roboto', sans-serif;;
  line-height: 1.6;
}

img {
  max-width: 100%;
  height: auto;
}


/* === HEADER SECTION === */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #131313;
  color: rgb(237, 231, 231);
  padding: 0rem 2rem;
}

header img {
  max-width: 10%;
  height: auto;
  display: block;
}

header ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 0;
  padding: 0;
}

/* Set li to align center */
header ul li {
  display: flex;
  align-items: center;
}

/* Normalize both anchor and button */
header ul li a,
header ul li button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  font: inherit;
  color: white;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}

/* Add style to button */
header ul li button {
  background-color: #D8E000;
  color: #131313;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

header ul li button:hover {
  background-color: #1D3557;
  color: white;
}


/* === HERO SECTION === */
.hero {
  background-image: url("/resources/hero-section.png");
  min-height: 85vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  gap: 2.5rem;
  padding-left: 4rem;
}

.hero h1, .hero h2 {
  text-shadow: 1px 1px 4px rgba(0,0,0,0.6);
}

.hero h1 {
  color: #D8E000;
  font-size: 5rem;
  max-width: 55%;
}

.hero h2 {
  color: rgb(238, 238, 238);
}

.hero button {
  padding: 1rem 3rem;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: #D8E000;
  cursor: pointer;
  transition: all 0.3 ease-in-out;
}

.hero button:hover {
  background-color: #1D3557;
  color: aliceblue;
}

/* @media (max-width: 768px) {
  .hero {
    padding-left: 2rem;
  }
} */


/* === HERO SECTION === */
.join {
  background-color: #014037;
  color: aliceblue;
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "layout-section1 layout-section2"
  "layout-section1 layout-section3"
  "layout-section1 layout-section4"
  ;
  gap: 1rem;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.6);
}

.layout-section1 {
  grid-area: layout-section1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  background-color: #697C00;
}

.layout-section2 {
  grid-area: layout-section2;
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./resources/latest-news.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  
}

.layout-section3 {
  grid-area: layout-section3;
  /* border: 1px solid red; */
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./resources/exclusive-events.png");
  background-size: cover;
  /* background-position: 0px -20px; */
  background-repeat: no-repeat;
  background-blend-mode: darken;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.layout-section4 {
  grid-area: layout-section4;
  /* border: 1px solid red; */
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./resources/free-tickets.jpg");
  background-size: cover;
  /* background-position: 0px -40px; */
  background-repeat: no-repeat;
  background-blend-mode: darken;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}


/* === HERO SECTION === */